{% load django_htmx %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="description"
              content=""/>
        <meta name="keywords"
              content=""/>
        <meta http-equiv="x-ua-compatible"
              content="ie=edge"/>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0"/>
        <title>
            {% block title  %}
            {% endblock title %}
        </title>
        {% block extra_head %}
        {% endblock extra_head %}
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js"></script>
        <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
        {% django_htmx_script %}
    </head>
    <body hx-boost="true"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          class="{% block bodyclass %}{% endblock bodyclass %}">
        <div id="app">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
