<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static '../main/styles.css' %}"> <!-- Not working, for some reason -->

    <meta charset="UTF-8">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>
    <div x-data="{ open: false }" @click="open = !open" @keyup.enter.window="open = !open" @keyup.spacebar.window="open = !open" @click.stop.outside="open = !open">
        <div class="card">
            <div x-cloak class="card-front" x-show = "!open">
                {{card.render_front}}
            </div>
            <div x-cloak class="card-back" x-show = "open">
                {{card.render_back}}
            </div>
                <div id="buttons" x-show = "open">
                    
                    <button id="Pass" hx-swap="outerHTML" hx-post="{% url 'track-result' deck_id=deck.id card_id=card.id %}" hx-target="closest .card" @click.stop="open = !open">Pass</button>
                    

                    <button id="Fail" hx-swap="outerHTML" hx-post="{% url 'track-result' deck_id=deck.id card_id=card.id %}" hx-target="closest .card" @click.stop="open = !open">Fail</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    
    var buttonDiv = document.getElementById("buttons");

    if (buttonDiv.x-show == "open") {
        console.log(buttonDiv.x-show)
        var passButton = document.getElementById("Pass");
        var failButton = document.getElementById("Fail");
        document.addEventListener("keyup", function(event) {
            if (event.key === "1" && passButton && buttonDiv.x-show == "open") {
                passButton.click();
            }
            else if (event.key === "2" && failButton && buttonDiv.x-show == "open") {
                failButton.click();
            }
        });
    }
</script>
</html>
