<div class="card" tabindex="0" x-data="{ showFront: true }" @show_answer="showFront=false" @keyup.1="$dispatch('pass')" @keyup.2="$dispatch('fail')">
    <div x-cloak class="card-front" x-show = "showFront" x-trap="showFront">
        {{card.render_front}}
        <div>
            <button @click="$dispatch('show_answer')"
                    x-ref="show_answer"
                    @keyup.enter="$dispatch('show_answer')"
                    @keyup.spacebar="$dispatch('show_answer')"
                    @click.stop.outside="$dispatch('show_answer')" >
                Show Answer</button>
        </div>
    </div>

    <div x-cloak class="card-back" x-show = "!showFront" x-trap="!showFront" >
        {{card.render_back}}
        <div >
            <button id="pass"
                    hx-trigger="pass from:body, click"
                    hx-swap="outerHTML"
                    hx-post="{% url 'track-result' deck_id=deck.id card_id=card.id %}"
                    hx-target="closest .card"
                    >
                Pass</button>
            <button id="fail"
                    hx-trigger="fail from:body, click"
                    hx-swap="outerHTML"
                    hx-post="{% url 'track-result' deck_id=deck.id card_id=card.id %}"
                    hx-target="closest .card"
                    >
                Fail</button>
        </div>
    </div>
</div>
