{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'main/styles.css' %}">

  <h1>Gnosis</h1>
  <p> Welcome to Gnosis, a website developed to learn! </p>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Templates:</strong> {{ num_template }}</li>
  </ul>

  <form>
    <label for="options">Select an option:</label>
    <select id="options" name="options">
      <option value="blank"></option>
      {% for template in all_templates %}
        <option value="{{ template.name}}">{{ template.name }}</option>
      {% endfor %}
    </select>
  </form>


{% endblock %}