@font-face {
    font-family: 'Jost';
    src: url('./Jost/OpenType/Jost-300-Light.otf');
}

body {
    font-family: Jost, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}


.newField {
    color: #aaa;
    font-size: 14px;
    width: 33%;
    border-bottom: 2px dotted #aaa;
}

.existingField {
    color: #000;
    font-size: 14px;
    width: 33%;
    border-bottom: 2px dotted #aaa;
}

.jost {
    font-family: Jost;
}

.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 8px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    padding-bottom: 5px;
    border-top: none;
}